:root {
    --border-radius: 32px;
    --color-light-blue: #CAC9FF;
    --color-dark-blue: #303B59;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
}

html,
body,
main {
    height: 100%;
}

body {
    margin: 0;
    background-color: #ebf0fb;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: "Hanken Grotesk";
}

@media (min-width: 420px) {
    .container {
        flex-direction: row;
        width: 736px;
        height: 512px;
        border-radius: var(--border-radius);
    }
}

.container h1 {
    margin: 0;
    font-size: 18px;
}

@media (min-width: 420px) {
    .container h1 {
        font-size: 24px;
    }
}

.result {
    display: inline-block;
    box-sizing: border-box;
    padding: 24px 58px 40px 58px;
    text-align: center;
    color: var(--color-light-blue);
    background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media (min-width: 420px) {
    .result {
        width: 50%;
        padding: 38px 54px 55px 54px;
        border-radius: var(--border-radius);
    }
}

.summary {
    flex-grow: 1;
    padding: 24px 30px 30px 30px;
    color: var(--color-dark-blue);
}

@media (min-width: 420px) {
    .summary {
        padding: 38px 40px 46px 40px;
    }
}
